extends layout

block content
    h1 #{error.status}: #{message}
    img(src="/img/404.png" alt="Not found")
    pre #{error.stack}

    a(href="/") Perhaps you want to read the latest comic instead?
