doctype html

html
    head
        title xkcd: #{safe_title}
        link(rel='icon' type='image/x-icon' href='/img/favicon.ico')
        link(rel='stylesheet', href='/css/style.css')

    body
        main
            block content

        footer
            //- &#32; is a space. I've set my editor to remove trailing whitespace.
            small Used under the&#32;
                a(href='//creativecommons.org/licenses/by-nc/2.5') Creative Commons Attribution-NonCommercial 2.5 License
                | .&#32;
            small Check out the source code on&#32;
                a(href='//github.com/shreyasminocha/xkcd-viewer') Github
                | .
